$width_full : 950px;
$width_medium: 600px;
$width_small: 350px;
$darker_red :rgb(209, 19, 19);
 
 
 html{
    scroll-behavior: smooth;
 }
 body{
    margin: -35px 0 0 0 ; 
    
 }

 h1,h2,h3{
    text-transform:capitalize;
 }

 .bold{
    font-weight: 700;
 }


 .txt_dec_none{
    text-decoration: none;
 }


.pic_100{
    max-width: 100px;
}

.text_medium{
    font-size: medium;
}
.grid_center{
    display:grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.banner{
    background-image: url('./img/banner.jpg');
    height: 300px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;

  h1{
    background-color: #3f3e3ea9;
    color: white    ;
    font-size: 3rem;
    height: 4rem;
    padding: 1rem;
    max-width: 40rem;
  }

  .logo{
    max-width: 50px;
  }
}


nav {
    
    background-color: rgb(82, 81, 81);
   
    display:grid;
    justify-content: center;
    margin-bottom: 2rem;
    
    a{
        text-decoration: none;
        font-weight: 600;
        font-size: large;
        color: white;
    }

    ul{
    width:$width_full;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding:0;

   
        li{
        padding:0.5rem; 

        transition: 0.2s;
            &:hover{
                background-color: rgb(126, 125, 125);
                -webkit-box-shadow: 0px 4px 0px 0px $darker_red;
                -moz-box-shadow: 0px 4px 0px 0px $darker_red;
                box-shadow: 0px 4px 0px 0px $darker_red;
            }
        }
    }
}


.main_box{
    width: 100%;
   
    
}

.main_wrap{
    width: $width_full;
}


main, nav{
       
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
          'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
          sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      
}


.intro_home{
    width:500px;
    font-size: larger;
    margin: 4rem 0 5rem 0;
    padding: 2rem;
    background-color: #d9dbda;;
    text-align: center;
    color: #282828;
    border-style: hidden solid hidden solid;

}

.galeria1{
    /*
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr 1fr;

 */
    display: grid; 
    grid-template-columns: repeat(3 300px) ; 
    grid-template-rows: 1.2fr 0.3fr 1.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "a1 a2 a3"
        "a4 a2 a6"
        "a4 a5 a6"; 
        
    gap:10px;
    //align-items: stretch;

   
    .a1{
        grid-area: a1;
    }
    .a2{
        grid-area: a2;
    }
    .a3{
        grid-area: a3;
    }
    .a4{
        grid-area: a4;
    }
    .a5{
        grid-area: a5;
    }
    .a6{
        grid-area: a6;
    }
   
    img{
        max-width: 300px;
    }

   
}



.wrap_serv{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

footer{
    width: 100%;
    margin: 1rem 0;
    background-color:   rgb(198, 196, 196);

    color: #282828;
    font-size: small;

    display: grid;
    grid-template-columns: auto auto;
    justify-items: stretch;
    justify-content: stretch;
    div{
        padding: 2rem;
    }

    .attribution{
        align-self: end;
    }
}



.wrap_sobre_pic{
    margin: 3rem 0 1rem 0;
    display:grid;
    
    grid-template-columns: 1fr 2fr;
    gap:1rem;
    img{
       
        width: 100%;
    }
}


.wrap_contato{
    display:grid;
    width: 100%;
    grid-template-columns: 400px 500px;
}


.serv_tab{
    border: 2px solid lightgrey;
    padding: 1rem;
    margin:1rem;
    min-height: 500px;

    display: none;

    -webkit-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.75);

    h3{
        font-size: 1.5rem;
    }
}


.serv_sidebar{

    display: grid;
    grid-template-rows: 350px 100px 1fr;
    ul{
        list-style-type: none;
        padding: 0;

        li{
            background-color: grey;
            margin: 2px;
            padding: 0.5rem;
            font-weight: 700;
            color: white;

            transition: 0.1s;
            &:hover{
                cursor: pointer;
                background-color: rgb(161, 159, 159);

                -webkit-box-shadow: -5px 0px 0px 0px rgb(209, 19, 19);
                -moz-box-shadow: -5px 0px 0px 0px rgb(209, 19, 19);
                box-shadow: -5px 0px 0px 0px rgb(209, 19, 19);
            }
        }


    }
}


.orcamento_zap{
    width: 10rem;
    height: 4rem;
    padding: 1rem;
    text-decoration: none;
    background-color: #43a843;
    color: white;
    font-weight: bold;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin-left: 1rem;;
}


.wrap_serv_pic{

    picture{
        img{
            width: 300px;
            height: 350px;
            object-fit: cover;
            //max-width: 300px;
            margin:10px
        }
    }
    
}

.logo_zap{
    width: 50px;
}

/**gogle maps */

.mapouter{position:relative;text-align:right;height:400px;width:512px;}

.gmap_canvas {overflow:hidden;background:none!important;height:400px;width:512px;}


@media only screen and (max-width:1000px) {
    
   
    .galeria1{

        grid-template-columns: repeat(2 300px) ; 
        grid-template-areas: 
        "a1 a2"
        "a4 a2"
        "a4 a5"; 
    }

    .a3, .a6{
        display:none;
    }
    
    .main_wrap{
        width: $width_medium;
    }

    nav ul{
        width:$width_medium;
    }

    .intro_home{
        width: 300px;
        font-size: medium;  
    }

   

    .wrap_contato{
        grid-template-columns: auto;
        gap:2rem;
        justify-items: center;
    }
}

@media only screen and (max-width:700px) {
   
    .banner{
        h1{
            height: 7rem;
        }
    }

    .intro_home{
        margin: 1rem 0 5rem 0;
    }

    .galeria1{

        grid-template-columns: 350px ; 
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "a1"
        "a2"
        "a4"
        "a5"; 

        img{
            max-width: 350px;
        }
    }

    .a3, .a6{
        display:none;
    }
    
    .main_wrap{
        width: $width_small;
    }

    nav ul{
        width:$width_small;
    }

    .intro_home{
        width: 250px;
    }

    .wrap_contato{
        grid-template-columns: auto;
        gap:2rem;
        justify-items: center;
    }

    .mapouter{height:400px;width:330px;}

    .gmap_canvas {height:400px;width:330px;}
    
    .wrap_serv{
        grid-template-columns: auto;
    }


    .serv_sidebar{
        max-width: $width_small;
        grid-template-columns: auto;

            grid-template-rows: 170px 100px 1fr;
        ul{
            display:grid;
            grid-template-columns: auto auto auto;
        }
    }

    .serv_tab{
        margin: 1rem 0;
    }

    footer{
       
       width: 100%;
        grid-template-columns:  auto;
        
    }
}